Models/Classifiers/* 
Models/ILM/*
__pycache__
.DS_Store
Data/Classifier_data
Data/raw
ilm/data/char_masks/compound_dataset

wandb/
Model/.venv/
wandb/
*.pkl
*.npy
Data/hatecheck_perturbations/results_split/*